<section class="relative bg-white">
  <!-- Background decorative element -->
  <img
    src="/img/bg-el-3.png"
    alt=""
    class="absolute z-[1] bottom-0 right-0 w-[200px] h-auto"
    width="200"
    height="270"
  />

  <div class="lg:max-w-[1237px] max-[420px]:max-w-full max-[420px]:mx-5 mx-auto relative z-[2]">
    <div class="flex max-[420px]:flex-col items-center gap-5">
      <!-- Left Image -->
      <div class="flex flex-col lg:h-[400px] max-[420px]:h-full max-420px:relative">
        <!-- Desktop Image -->
        <img
          src="/img/about.png"
          alt="Про нас - українська компанія високотехнологічного виробництва"
          width="500"
          height="400"
          class="hidden lg:block w-full h-full rounded-t-[8px] object-cover shadow-lg"
        />
        <!-- Mobile Image -->
        <img 
          src="/img/about-mobile.png"
          alt="Про нас - українська компанія високотехнологічного виробництва"
          width="350"
          height="400"
          class="block lg:hidden w-full h-auto object-contain mb-6" />
      </div>

      <!-- Right Content -->
      <div class="flex flex-1 flex-col w-full">
        <h2 class="lg:text-[40px] max-[420px]:text-[24px] text-left font-['Unbounded'] text-[#020303] font-semibold leading-[1.2] hero-title">
          <span class="text-[#ba0108]">П</span>РО НАС
        </h2>
        <div class="mb-6">
          <p class="lg:text-xl max-[420px]:text-[16px] font-['Montserrat'] lg:w-[649px] max-[420px]:w-[320px] text-[#333333]">
          Ми — українська компанія, що спеціалізується на розробці та
          виробництві високотехнологічної техніки для сучасного світу. Наше
          виробництво поєднує іновації, точну інженерію та найсучасніше
          обладнання, щоб створювати надійні рішення для промисловості,
          енергетики, агросектору та оборонної сфери.
        </p>
        <p class="lg:text-xl max-[420px]:text-[16px] font-['Montserrat'] leading-[1.7] text-[#333333]">
          Ми впроваджуємо повний цикл: від ідеї та прототипу — до серійного
          виробництва. Усе — на українських потужностях, з дотриманням
          міжнародних стандартів якості.
        </p>
        </div>
        
      </div>
    </div>
  </div>
</section>