<section class="bg-[#020303] py-16">
  <h2 class="lg:text-[40px] max-[420px]:text-[24px] mb-12 font-['Unbounded'] font-semibold text-white text-center hero-title"><span class="text-[#ba0108]">Ч</span>ОМУ МИ</h2>
  <div class="lg:max-w-[1237px] max-[420px]:max-w-full mx-auto px-5 grid md:grid-cols-4 max-[420px]:grid-cols-2 gap-8">
    <!-- Advantage 1 -->
    <div class="flex lg:flex-col max-[420px]:flex-col items-center gap-4 text-center">
      <img
        src="/img/trust.svg"
        alt="Виконання зобов’язань"
        width="80"
        height="80"
      />
      <h4 class="lg:text-2xl max-[420px]:text-[16px] font-['Montserrat'] font-semibold text-white">
       Надійні постачальники
      </h4>
      <p class="lg:text-xl max-[420px]:text-[16px] text-white font-['Montserrat']">
       Постійний ланцюг постачання комплектуючих
      </p>
    </div>
    
    <!-- Advantage 2 -->
    <div class="flex lg:flex-col max-[420px]:flex-col items-center gap-4 text-center">
      <img
        src="/img/quality.svg"
        alt="Гарантована якість"
        width="80"
        height="80"
      />
      <h4 class="lg:text-2xl max-[420px]:text-[16px] font-['Montserrat'] font-semibold text-white">
        Гарантована якість
      </h4>
      <p class="lg:text-xl max-[420px]:text-[16px] text-white font-['Montserrat']">
        Перевірено в екстремальних умовах
      </p>
    </div>
    
    <!-- Advantage 3 -->
    <div class="flex lg:flex-col max-[420px]:flex-col items-center gap-4 text-center">
      <img
        src="/img/service.svg"
        alt="Сервіс та техпідтримка"
        width="80"
        height="80"
      />
      <h4 class="lg:text-2xl max-[420px]:text-[16px] font-['Montserrat'] font-semibold text-white">
        Сервіс та техпідтримка
      </h4>
      <p class="lg:text-xl max-[420px]:text-[16px] text-white font-['Montserrat']">
       Консультуємо та допомагаємо
      </p>
    </div>
    
    <!-- Advantage 4 -->
    <div class="flex lg:flex-col max-[420px]:flex-col items-center gap-4 text-center">
      <img
        src="/img/r&d.svg"
        alt="Свій R&D відділ"
        width="80"
        height="80"
      />
      <h4 class="lg:text-2xl max-[420px]:text-[16px] font-['Montserrat'] font-semibold text-white">
        Свій R&D відділ
      </h4>
      <p class="lg:text-xl max-[420px]:text-[16px] text-white font-['Montserrat']">
        Постійне удосконалення, індивідуальні рішення
      </p>
    </div>
  </div>
</section>