<section class="bg-white min-h-[600px] relative overflow-hidden">
    <!-- Background decorative elements -->
    <img src="/img/bg-el-1.png" alt="" class="absolute z-[1] top-0 right-0 w-[350px] h-[360px]" />
    <img src="/img/bg-el-2.png" alt="" class="absolute z-[1] bottom-0 left-0 w-[420px] h-[380px]" />

    <div class="w-[1237px] flex flex-col items-start mx-auto justify-center pt-[40px] mb-[64px] relative z-[2]">
        <div class="flex items-center gap-2 text-[#ba0108] font-family-montserrat mb-[35px]">
            <a class="text-[20px] font-[Montserrat] font-medium" href="/">Головна</a>
            <span>&rarr;</span>
            <a class="text-[20px] font-[Montserrat] font-medium" href="/catalog">Політні стеки</a>
        </div>

        <div class="flex justify-center items-center mx-auto">
            <div class="flex flex-col gap-5 w-full">
                <h1 class="font-[Unbounded] uppercase  leading-[1.1]mb-2 text-[64px] text-[#ba0108] font-medium">
                    Політні стеки
                </h1>
                <p class="font-[Montserrat] text-[20px] leading-[1.7] text-[#333333] mb-8">
                    Компактна та продуктивна інтегрована система для дронів, що об'єднує
                    польотний контролер (FC) на базі потужного мікроконтролера STM32F405
                    та регулятор швидкості (ESC) 4-в-1 з підтримкою до 20А (25А піково).
                    <br />
                    <br />
                    Завдяки своїм невеликим розмірам та високій функціональності,
                    включаючи вбудований OSD, а часто також барометр і "чорний ящик", він
                    є ідеальним вибором для створення легких та маневрених FPV-дронів
                </p>
                <button
                    onclick="window.openContactModal()"
                    class="bg-[#ba0108] text-white font-[Montserrat] text-[24px] font-normal w-[607px] py-[14px] px-[54px] mt-[60px] h-[70px] border-none rounded-[25px] cursor-pointer transition-all duration-300 ease-in-out hover:bg-[#9a0106] hover:-translate-y-1 active:translate-y-0 shadow-lg">
                    Отримати пропозицію
                </button>
            </div>

            <div class="flex relative justify-center items-center">
                <img src="/img/stack-rotate.png" alt="Karma Flights - високотехнологічне українське виробництво"
                    class="w-full h-full" />
                <div
                    class="pointer-events-none absolute -bottom-3 left-1/2 -translate-x-1/2 w-[493px] h-[80px] rounded-full bg-black/35 blur-2xl">
                </div>
            </div>
        </div>
    </div>
</section>