<section class="bg-[#f9f9f9] py-12">
    <div class="max-w-[1237px] mx-auto px-5">
        <h3 class="mb-6 text-2xl text-center font-family-unbounded md:text-3xl">Нам довіряють</h3>
        <div class="grid grid-cols-2 gap-6 justify-items-center items-center sm:grid-cols-3 md:grid-cols-4">
            <img src="/img/magura.png" alt="magura" class="w-auto h-12" />
            <img src="/img/toro.png" alt="toro" class="w-auto h-12" />
            <img src="/img/mriadrone.png" alt="mriadrone" class="w-auto h-12" />
            <img src="/img/stack.png" alt="stack" class="w-auto h-12" />
        </div>
    </div>
</section>