<header class="bg-[#020303] py-[26px] flex justify-center mx-auto">
  <style>
    .nav-link {
      position: relative;
      display: inline-block;
    }

    .nav-link.active::after {
      content: '';
      position: absolute;
      bottom: -11px;
      left: 50%;
      transform: translateX(-50%);
      width: 58px;
      height: 2px;
      background-color: #ba0108;
    }
  </style>
  <div class="flex w-[1237px] justify-between items-center ">
    <a href="/" class="text-xl font-normal text-white font-inter">
      <img src="/logo.png" alt="logo" width="149" height="34" />
    </a>

    <nav class="flex items-center gap-[20px]">
      <div class="relative group">
        <a
          href="/catalog"
          class="nav-link font-['Inter'] text-xl focus:font-bold text-white hover:text-[#ba0108] transition-colors"
        >
          Каталог
        </a>
        <div class="hidden absolute left-0 top-full mt-2 text-black bg-white rounded-md shadow-lg group-hover:block">
          <div class="flex gap-6 px-4 py-3 w-full">
            <a href="#" class="hover:text-[#ba0108]">Політні стеки</a>
            <a href="#" class="hover:text-[#ba0108]">Відеопередавачі VTX</a>
            <a href="#" class="hover:text-[#ba0108]">ESC</a>
          </div>
        </div>
      </div>
      <a
        href="/faq"
        class="nav-link font-['Inter'] text-xl font-normal text-white hover:text-[#ba0108] transition-colors"
      >
        FAQ
      </a>
      <a
        href="/knowledge-base"
        class="nav-link font-['Inter'] text-xl font-normal text-white hover:text-[#ba0108] transition-colors"
      >
        База знань
      </a>
      <a
        href="/contact"
        class="nav-link font-['Inter'] text-xl font-normal text-white hover:text-[#ba0108] transition-colors"
      >
        Контакти
      </a>
    </nav>

    <div class="flex gap-[50px] justify-center">
      <nav class="flex items-center gap-[30px]">
        <a
          href="tel:(067) 298-29-29"
          class="font-['Montserrat'] text-xl font-normal text-white hover:text-[#ba0108] transition-colors"
        >
          (067) 298-29-29
        </a>
        <div class="flex items-center gap-3 text-xl text-white/80">
          <button class="font-['Montserrat'] font-[300] cursor-pointer active:text-[#ba0108] focus-within:text-[#ba0108] focus:text-[#ba0108]">UA</button>
          |
          <button class="font-['Montserrat'] font-[300] cursor-pointer active:text-[#ba0108] focus-within:text-[#ba0108] focus:text-[#ba0108]">EN</button>
        </div>
      </nav>
    </div>
  </div>
</header>