<section class="products-section">
  <div class="background-element">
    <img src="/img/bg-el-3.png" alt="" class="bg-image" />
  </div>
  
  <div class="container">
    <h2 class="font-['Unbounded'] text-[40px] font-medium mb-5 text-center">
        <span class="text-[#ba0108]">Н</span>АШІ ТОВАРИ
    </h2>
    
    <div class="swiper-wrapper-custom">
      <!-- Swiper container -->
      <div class="swiper-container">
        <div class="swiper-wrapper">
          {{ range .Site.Data.products.products }}
          <div class="swiper-slide">
            <div class="card">
              <img src="{{ .image }}" alt="{{ .alt }}" />
              <h3>
                {{ .name }}
              </h3>
              <ul>
                {{ range .specs }}
                <li>
                  <span>{{ .label }}</span> <span>{{ .value }}</span>
                </li>
                {{ end }}
              </ul>
              <a href="/catalog/{{ .id }}" class="button">
                Докладніше
              </a>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
      
      <!-- Navigation arrows -->
      <div class="swiper-button-prev-custom">
        <img src="/img/nav_arrow.svg" alt="navigation prev arrow" />
      </div>
      <div class="swiper-button-next-custom">
        <img src="/img/nav_arrow.svg" alt="navigation next arrow" />
      </div>
    </div>
  </div>
</section>