<section class="bg-white py-[60px] md:py-[80px] relative overflow-hidden">
    <!-- Background decorative elements -->
    <img src="/img/bg-el-1.png" alt="" class="absolute z-[1] top-0 right-0 w-[300px] h-[300px] opacity-30" />

    <div class="w-full md:w-[1237px] mx-auto relative z-[2] px-5 md:px-[40px]">
        <h2
            class="font-[Unbounded] text-[24px] md:text-[32px] lg:text-[48px] font-medium text-black text-center mb-[40px] md:mb-[60px] uppercase">
            ХАРАКТЕРИСТИКА
        </h2>

        <!-- Mobile Layout -->
        <div class="block md:hidden">
            <!-- Mobile Left Table -->
            <div class="w-full mb-8 flex justify-center">
                <table
                    class="w-[350px] border-separate border-spacing-0 border border-black rounded-[5px] overflow-hidden">
                    <tbody>
                        <tr>
                            <td
                                class="font-montserrat text-[16px] font-medium text-[#333333] py-3 px-4 border-b border-black text-center">
                                MCU<br><span class="font-normal">STM32F405</span>
                            </td>
                        </tr>
                        <tr>
                            <td
                                class="font-montserrat text-[16px] font-medium text-[#333333] py-3 px-4 border-b border-black text-center">
                                MCU<br><span class="font-normal">STM32F405</span>
                            </td>
                        </tr>
                        <tr>
                            <td
                                class="font-montserrat text-[16px] font-medium text-[#333333] py-3 px-4 border-b border-black text-center">
                                MCU<br><span class="font-normal">STM32F405</span>
                            </td>
                        </tr>
                        <tr>
                            <td
                                class="font-montserrat text-[16px] font-medium text-[#333333] py-3 px-4 border-b border-black text-center">
                                MCU<br><span class="font-normal">STM32F405</span>
                            </td>
                        </tr>
                        <tr>
                            <td
                                class="font-montserrat text-[16px] font-medium text-[#333333] py-3 px-4 border-b border-black text-center">
                                MCU<br><span class="font-normal">STM32F405</span>
                            </td>
                        </tr>
                        <tr>
                            <td
                                class="font-montserrat text-[16px] font-medium text-[#333333] py-3 px-4 border-b border-black text-center">
                                MCU<br><span class="font-normal">STM32F405</span>
                            </td>
                        </tr>
                        <tr>
                            <td
                                class="font-montserrat text-[16px] font-medium text-[#333333] py-3 px-4 border-b border-black text-center">
                                MCU<br><span class="font-normal">STM32F405</span>
                            </td>
                        </tr>
                        <tr>
                            <td
                                class="font-montserrat text-[16px] font-medium text-[#333333] py-3 px-4 border-b border-black text-center">
                                MCU<br><span class="font-normal">STM32F405</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="font-montserrat text-[16px] font-medium text-[#333333] py-3 px-4 text-center">
                                Дозволений струм від батареї<br><span class="font-normal">2.4 A</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Mobile Right Table -->
            <div class="w-full mb-8 flex justify-center">
                <table
                    class="w-[350px] border-separate border-spacing-0 border border-black rounded-[5px] overflow-hidden">
                    <tbody>
                        <tr>
                            <td
                                class="font-[Montserrat] text-[16px] font-medium text-[#333333] py-3 px-4 border-r border-black border-b border-black w-[175px] text-center">
                                Живлення</td>
                            <td
                                class="font-[Montserrat] text-[16px] text-[#333333] py-3 px-4 border-b border-black w-[175px] text-center">
                                4s-6s</td>
                        </tr>
                        <tr>
                            <td
                                class="font-[Montserrat] text-[16px] font-medium text-[#333333] py-3 px-4 border-r border-black border-b border-black w-[175px] text-center">
                                Струм</td>
                            <td
                                class="font-[Montserrat] text-[16px] text-[#333333] py-3 px-4 border-b border-black w-[175px] text-center">
                                4x50A</td>
                        </tr>
                        <tr>
                            <td
                                class="font-[Montserrat] text-[16px] font-medium text-[#333333] py-3 px-4 border-r border-black border-b border-black w-[175px] text-center">
                                MCU</td>
                            <td
                                class="font-[Montserrat] text-[16px] text-[#333333] py-3 px-4 border-b border-black w-[175px] text-center">
                                72Mhz 32Bit</td>
                        </tr>
                        <tr>
                            <td
                                class="font-[Montserrat] text-[16px] font-medium text-[#333333] py-3 px-4 border-r border-black border-b border-black w-[175px] text-center">
                                Прошивка</td>
                            <td
                                class="font-[Montserrat] text-[16px] text-[#333333] py-3 px-4 border-b border-black w-[175px] text-center">
                                AM32</td>
                        </tr>
                        <tr>
                            <td
                                class="font-[Montserrat] text-[16px] font-medium text-[#333333] py-3 px-4 border-r border-black w-[175px] text-center">
                                Кріплення</td>
                            <td class="font-[Montserrat] text-[16px] text-[#333333] py-3 px-4 w-[175px] text-center">
                                30.5 x 30.5</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Mobile Product Image -->
            <div class="flex justify-center">
                <img src="/img/product-details.png" alt="KARMA F405 V1" class="object-contain" />
            </div>
        </div>

        <!-- Desktop Layout -->
        <div class="hidden md:flex flex-row justify-between items-start gap-[80px]">
            <!-- Left Table -->
            <div class="flex-1 w-full">
                <table
                    class="w-full border-separate border-spacing-0 border border-black rounded-[5px] overflow-hidden">
                    <tbody>
                        <tr>
                            <td
                                class="font-montserrat text-[20px] font-medium text-[#333333] py-4 px-6 border-r border-black border-b border-black">
                                MCU</td>
                            <td class="font-montserrat text-[20px] text-[#333333] py-4 px-6 border-b border-black">
                                STM32F405</td>
                        </tr>
                        <tr>
                            <td
                                class="font-montserrat text-[20px] font-medium text-[#333333] py-4 px-6 border-r border-black border-b border-black w-[255px]">
                                MCU</td>
                            <td
                                class="font-montserrat text-[20px] text-[#333333] py-4 px-6 w-[255px] border-b border-black">
                                STM32F405</td>
                        </tr>
                        <tr>
                            <td
                                class="font-montserrat text-[20px] font-medium text-[#333333] py-4 px-6 border-r border-black border-b border-black w-[255px]">
                                MCU</td>
                            <td
                                class="font-montserrat text-[20px] text-[#333333] py-4 px-6 w-[255px] border-b border-black">
                                STM32F405</td>
                        </tr>
                        <tr>
                            <td
                                class="font-montserrat text-[20px] font-medium text-[#333333] py-4 px-6 border-r border-black border-b border-black w-[255px]">
                                MCU</td>
                            <td
                                class="font-montserrat text-[20px] text-[#333333] py-4 px-6 w-[255px] border-b border-black">
                                STM32F405</td>
                        </tr>
                        <tr>
                            <td
                                class="font-montserrat text-[20px] font-medium text-[#333333] py-4 px-6 border-r border-black border-b border-black w-[255px]">
                                MCU</td>
                            <td
                                class="font-montserrat text-[20px] text-[#333333] py-4 px-6 w-[255px] border-b border-black">
                                STM32F405</td>
                        </tr>
                        <tr>
                            <td
                                class="font-montserrat text-[20px] font-medium text-[#333333] py-4 px-6 border-r border-black border-b border-black w-[255px]">
                                MCU</td>
                            <td
                                class="font-montserrat text-[20px] text-[#333333] py-4 px-6 w-[255px] border-b border-black">
                                STM32F405</td>
                        </tr>
                        <tr>
                            <td
                                class="font-montserrat text-[20px] font-medium text-[#333333] py-4 px-6 border-r border-black border-b border-black w-[255px]">
                                MCU</td>
                            <td
                                class="font-montserrat text-[20px] text-[#333333] py-4 px-6 w-[255px] border-b border-black">
                                STM32F405</td>
                        </tr>
                        <tr>
                            <td
                                class="font-montserrat text-[20px] font-medium text-[#333333] py-4 px-6 border-r border-black border-b border-black w-[255px]">
                                MCU</td>
                            <td
                                class="font-montserrat text-[20px] text-[#333333] py-4 px-6 w-[255px] border-b border-black">
                                STM32F405</td>
                        </tr>
                        <tr>
                            <td
                                class="font-montserrat text-[20px] font-medium text-[#333333] py-4 px-6 border-r border-black w-[255px]">
                                Дозволений струм від батареї</td>
                            <td class="font-montserrat text-[20px] text-[#333333] py-4 px-6 w-[255px]">
                                2.4 A</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Right Table -->
            <div class="flex-1 w-full">
                <table
                    class="w-full border-separate border-spacing-0 border border-black mb-8 rounded-[5px] overflow-hidden">
                    <tbody>
                        <tr>
                            <td
                                class="font-[Montserrat] text-[20px] font-medium text-[#333333] py-4 px-6 border-r border-black border-b border-black w-[255px]">
                                Живлення</td>
                            <td
                                class="font-[Montserrat] text-[20px] text-[#333333] py-4 px-6 w-[255px] border-b border-black">
                                4s-6s</td>
                        </tr>
                        <tr>
                            <td
                                class="font-[Montserrat] text-[20px] font-medium text-[#333333] py-4 px-6 border-r border-black border-b border-black w-[255px]">
                                Струм</td>
                            <td
                                class="font-[Montserrat] text-[20px] text-[#333333] py-4 px-6 w-[255px] border-b border-black">
                                4x50A</td>
                        </tr>
                        <tr>
                            <td
                                class="font-[Montserrat] text-[20px] font-medium text-[#333333] py-4 px-6 border-r border-black border-b border-black w-[255px]">
                                MCU</td>
                            <td
                                class="font-[Montserrat] text-[20px] text-[#333333] py-4 px-6 w-[255px] border-b border-black">
                                72Mhz 32Bit</td>
                        </tr>
                        <tr>
                            <td
                                class="font-[Montserrat] text-[20px] font-medium text-[#333333] py-4 px-6 border-r border-black border-b border-black w-[255px]">
                                Прошивка</td>
                            <td
                                class="font-[Montserrat] text-[20px] text-[#333333] py-4 px-6 w-[255px] border-b border-black">
                                AM32</td>
                        </tr>
                        <tr>
                            <td
                                class="font-[Montserrat] text-[20px] font-medium text-[#333333] py-4 px-6 border-r border-black w-[255px]">
                                Кріплення</td>
                            <td class="font-[Montserrat] text-[20px] text-[#333333] py-4 px-6 w-[255px]">
                                30.5 x 30.5</td>
                        </tr>
                    </tbody>
                </table>

                <!-- Product Image -->
                <div class="flex justify-center">
                    <img src="/img/product-details.png" alt="KARMA F405 V1" class="w-full h-full object-contain" />
                </div>
            </div>
        </div>
    </div>
</section>