<section class="relative py-16 bg-white">
  {{ $bgEl4 := resources.Get "img/bg-el-catalog.png" }}
  {{ if $bgEl4 }}
  {{ $bgEl4Processed := $bgEl4.Resize "570x522 webp q80" }}
  <img src="{{ $bgEl4Processed.RelPermalink }}"
    class="absolute bottom-0 left-0 max-[767px]:hidden w-[377px] h-[346px] lg:w-[570px] lg:h-[522px]"
    alt="bg element decoration" />
  {{ else }}
  <img src="/img/bg-el-catalog.png"
    class="absolute bottom-0 left-0 max-[767px]:hidden w-[377px] h-[346px] lg:w-[570px] lg:h-[522px]"
    alt="bg element decoration" />
  {{ end }}
  <div class="w-full max-w-[1620px] mx-auto px-5">
    <h2
      class="!text-[clamp(24px,4vw,40px)] font-['Unbounded'] text-center text-[#020303] font-semibold mb-16 hero-title">
      <span class="text-[#ba0108]">К</span>АТОЛОГ ТОВАРІВ
    </h2>

    <div class="flex flex-col md:flex-row justify-center items-center gap-[20px]">
      <!-- Product Card 1  -->
      <div
        class="bg-white position-relative z-1 flex flex-col justify-around w-[clamp(350px,45vw,400px)] h-[411px] md:h-[312px] lg:h-[362px] cursor-pointer shadow-lg rounded-[5px] overflow-hidden transition-all duration-300 ease-in-out hover:shadow-xl hover:text-[#ba0108]">
        {{ $product1 := resources.Get "img/catalog_product1.png" }}
        {{ if $product1 }}
        {{ $product1Processed := $product1.Resize "351x301 webp q80" }}
        <img src="{{ $product1Processed.RelPermalink }}" alt="Продукт 1" class="object-contain px-[24px]" />
        {{ else }}
        <img src="/img/catalog_product1.png" alt="Продукт 1" class="object-contain px-[24px]" />
        {{ end }}
        <h3
          class="min-[1200px]:text-[24px] max-[1199px]:text-[20px] pb-6 text-center font-bold font-[Unbounded] text-black  whitespace-nowrap">
          Політні стеки</h3>
      </div>

      <!-- Product Card 2 -->
      <div
        class="bg-white position-relative z-1 flex flex-col justify-around w-[clamp(350px,45vw,400px)] h-[411px] md:h-[312px] lg:h-[362px] cursor-pointer shadow-lg rounded-[5px] overflow-hidden transition-all duration-300 ease-in-out hover:shadow-xl hover:text-[#ba0108]">
        {{ $product2 := resources.Get "img/catalog_product2.png" }}
        {{ if $product2 }}
        {{ $product2Processed := $product2.Resize "351x301 webp q80" }}
        <img src="{{ $product2Processed.RelPermalink }}" alt="Продукт 2" class="object-contain px-[24px]" />
        {{ else }}
        <img src="/img/catalog_product2.png" alt="Продукт 2" class="object-contain px-[24px]" />
        {{ end }}
        <h3
          class="min-[1200px]:text-[24px] max-[1199px]:text-[20px] pb-6 text-center font-bold font-[Unbounded] text-black  ">
          Відеопередавачі VTX</h3>
      </div>

      <!-- Product Card 3 -->
      <div
        class="bg-white position-relative z-1 flex flex-col justify-around w-[clamp(350px,45vw,400px)] h-[411px] md:h-[312px] lg:h-[362px] cursor-pointer shadow-lg rounded-[5px] overflow-hidden transition-all duration-300 ease-in-out hover:shadow-xl hover:text-[#ba0108]">
        {{ $product3 := resources.Get "img/catalog_product3.png" }}
        {{ if $product3 }}
        {{ $product3Processed := $product3.Resize "351x301 webp q80" }}
        <img src="{{ $product3Processed.RelPermalink }}" alt="Продукт 3" class="object-contain px-[24px]" />
        {{ else }}
        <img src="/img/catalog_product3.png" alt="Продукт 3" class="object-contain px-[24px]" />
        {{ end }}
        <h3
          class="min-[1200px]:text-[24px] max-[1199px]:text-[20px] pb-6 text-center font-bold font-[Unbounded] text-black  whitespace-nowrap">
          ESC</h3>
      </div>
    </div>
  </div>
</section>