<section class="bg-white py-[80px] relative overflow-hidden">
    <!-- Background decorative elements -->
    <img src="/img/bg-el-1.png" alt="" class="absolute z-[1] top-0 right-0 w-[300px] h-[300px] opacity-30" />
    
    <div class="w-[1237px] mx-auto relative z-[2]">
        <h2 class="font-[Unbounded] text-[48px] font-medium text-[#333333] text-center mb-[60px] uppercase">
            ХАРАКТЕРИСТИКА
        </h2>
        
        <div class="flex justify-between items-start gap-[80px]">
            <!-- Left Table -->
            <div class="flex-1">
                <table class="w-full border-collapse">
                    <tbody>
                        <tr class="border-b border-gray-300">
                            <td class="font-[Montserrat] text-[18px] font-medium text-[#333333] py-4 px-6 bg-gray-100">MCU</td>
                            <td class="font-[Montserrat] text-[18px] text-[#333333] py-4 px-6">STM32F405</td>
                        </tr>
                        <tr class="border-b border-gray-300">
                            <td class="font-[Montserrat] text-[18px] font-medium text-[#333333] py-4 px-6 bg-gray-100">MCU</td>
                            <td class="font-[Montserrat] text-[18px] text-[#333333] py-4 px-6">STM32F405</td>
                        </tr>
                        <tr class="border-b border-gray-300">
                            <td class="font-[Montserrat] text-[18px] font-medium text-[#333333] py-4 px-6 bg-gray-100">MCU</td>
                            <td class="font-[Montserrat] text-[18px] text-[#333333] py-4 px-6">STM32F405</td>
                        </tr>
                        <tr class="border-b border-gray-300">
                            <td class="font-[Montserrat] text-[18px] font-medium text-[#333333] py-4 px-6 bg-gray-100">MCU</td>
                            <td class="font-[Montserrat] text-[18px] text-[#333333] py-4 px-6">STM32F405</td>
                        </tr>
                        <tr class="border-b border-gray-300">
                            <td class="font-[Montserrat] text-[18px] font-medium text-[#333333] py-4 px-6 bg-gray-100">MCU</td>
                            <td class="font-[Montserrat] text-[18px] text-[#333333] py-4 px-6">STM32F405</td>
                        </tr>
                        <tr class="border-b border-gray-300">
                            <td class="font-[Montserrat] text-[18px] font-medium text-[#333333] py-4 px-6 bg-gray-100">MCU</td>
                            <td class="font-[Montserrat] text-[18px] text-[#333333] py-4 px-6">STM32F405</td>
                        </tr>
                        <tr class="border-b border-gray-300">
                            <td class="font-[Montserrat] text-[18px] font-medium text-[#333333] py-4 px-6 bg-gray-100">MCU</td>
                            <td class="font-[Montserrat] text-[18px] text-[#333333] py-4 px-6">STM32F405</td>
                        </tr>
                        <tr class="border-b border-gray-300">
                            <td class="font-[Montserrat] text-[18px] font-medium text-[#333333] py-4 px-6 bg-gray-100">MCU</td>
                            <td class="font-[Montserrat] text-[18px] text-[#333333] py-4 px-6">STM32F405</td>
                        </tr>
                        <tr class="border-b border-gray-300">
                            <td class="font-[Montserrat] text-[18px] font-medium text-[#333333] py-4 px-6 bg-gray-100">MCU</td>
                            <td class="font-[Montserrat] text-[18px] text-[#333333] py-4 px-6">STM32F405</td>
                        </tr>
                        <tr class="border-b border-gray-300">
                            <td class="font-[Montserrat] text-[18px] font-medium text-[#333333] py-4 px-6 bg-gray-100">Дозволений струм від батареї</td>
                            <td class="font-[Montserrat] text-[18px] text-[#333333] py-4 px-6">2.4 A</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <!-- Right Table -->
            <div class="flex-1">
                <table class="w-full border-collapse mb-8">
                    <tbody>
                        <tr class="border-b border-gray-300">
                            <td class="font-[Montserrat] text-[18px] font-medium text-[#333333] py-4 px-6 bg-gray-100">Живлення</td>
                            <td class="font-[Montserrat] text-[18px] text-[#333333] py-4 px-6">4s-6s</td>
                        </tr>
                        <tr class="border-b border-gray-300">
                            <td class="font-[Montserrat] text-[18px] font-medium text-[#333333] py-4 px-6 bg-gray-100">Струм</td>
                            <td class="font-[Montserrat] text-[18px] text-[#333333] py-4 px-6">4x50A</td>
                        </tr>
                        <tr class="border-b border-gray-300">
                            <td class="font-[Montserrat] text-[18px] font-medium text-[#333333] py-4 px-6 bg-gray-100">MCU</td>
                            <td class="font-[Montserrat] text-[18px] text-[#333333] py-4 px-6">72Mhz 32Bit</td>
                        </tr>
                        <tr class="border-b border-gray-300">
                            <td class="font-[Montserrat] text-[18px] font-medium text-[#333333] py-4 px-6 bg-gray-100">Прошивка</td>
                            <td class="font-[Montserrat] text-[18px] text-[#333333] py-4 px-6">AM32</td>
                        </tr>
                        <tr class="border-b border-gray-300">
                            <td class="font-[Montserrat] text-[18px] font-medium text-[#333333] py-4 px-6 bg-gray-100">Кріплення</td>
                            <td class="font-[Montserrat] text-[18px] text-[#333333] py-4 px-6">30.5 x 30.5</td>
                        </tr>
                    </tbody>
                </table>
                
                <!-- Product Images -->
                <div class="flex gap-4 justify-center">
                    <img src="/img/karma-f405-front.png" alt="KARMA F405 V1 Front" class="w-[180px] h-[180px] object-contain border border-gray-200 rounded-lg" />
                    <img src="/img/karma-f405-back.png" alt="KARMA F405 V1 Back" class="w-[180px] h-[180px] object-contain border border-gray-200 rounded-lg" />
                </div>
            </div>
        </div>
    </div>
</section>
