<section class="py-16 bg-white relative">
  <img src="/img/bg-el-4.png" class="absolute bottom-0 left-0" alt="bg element decoration" />
  <div class="max-w-[1237px] mx-auto px-5">
    <h2 class="lg:text-[40px] max-[450px]:text-[24px] font-['Unbounded'] text-center text-[#020303] font-semibold mb-16 hero-title">
      <span class="text-[#ba0108]">К</span>АТОЛОГ ТОВАРІВ
    </h2>
    
    <div class="flex relative lg:flex-row max-[450px]:flex-col justify-between items-center gap-10">
      <!-- Product Card 1 -->
      <div class="bg-white lg:w-[400px] max-[450px]:w-[350px] lg:h-[362px] max-[450px]:h-[390px] cursor-pointer shadow-lg rounded-[5px] overflow-hidden transition-all duration-300 ease-in-out hover:shadow-xl hover:text-[#ba0108]">
        <div class="h-[300px] overflow-hidden">
          <img 
            src="/img/catalog_product1.png" 
            alt="Продукт 1" 
            class="w-[351px] h-[301px] object-cover"
          />
        </div>
        <div class="p-6">
          <h3 class="text-2xl text-inherit text-center font-['Unbounded'] font-bold text-black mb-3">Політні стеки</h3>
        </div>
      </div>
      
      <!-- Product Card 2 -->
      <div class="bg-white lg:w-[400px] max-[450px]:w-[350px] lg:h-[362px] max-[450px]:h-[390px] cursor-pointer shadow-lg rounded-[5px] overflow-hidden transition-all duration-300 ease-in-out hover:shadow-xl hover:text-[#ba0108]">
        <div class="overflow-hidden">
          <img 
            src="/img/catalog_product2.png" 
            alt="Продукт 2" 
            class="w-[351px] h-[301px] object-cover"
          />
        </div>
        <div class="p-6">
          <h3 class="text-2xl text-inherit text-center font-bold font-[Unbounded] text-black mb-3">Робототехніка</h3>
        </div>
      </div>
      
      <!-- Product Card 3 -->
      <div class="bg-white lg:w-[400px] max-[450px]:w-[350px] lg:h-[362px] max-[450px]:h-[390px] cursor-pointer shadow-lg rounded-[5px] overflow-hidden transition-all duration-300 ease-in-out hover:shadow-xl hover:text-[#ba0108]">
        <div class="h-[300px] overflow-hidden">
          <img 
            src="/img/catalog_product3.png" 
            alt="Продукт 3" 
            class="w-[351px] h-[301px] object-cover"
          />
        </div>
        <div class="p-6">
          <h3 class="text-2xl text-inherit text-center font-bold font-['Unbounded'] text-black mb-3">ESC</h3>
        </div>
      </div>
    </div>
  </div>
</section>