<section class="flex flex-col items-center px-[20px] py-[60px] bg-[#eaeaea] text-center">
  <div class="flex flex-col">
    <h2 class="text-[40px] font-['Unbounded']">
      <span>Н</span>АМ ДОВІРЯЮТЬ
    </h2>
    
    <div class="swiper-wrapper">
      <div class="swiper-container-trusted">
        <div class="swiper-wrapper">
          {{ range .Site.Data.trusted_companies.companies }}
          <div class="swiper-slide">
            <div class="logo-container">
              <img src="{{ .logo }}" alt="{{ .alt }}" />
              <p>{{ .name }}</p>
            </div>
          </div>
          {{ end }}
        </div>
        
        <!-- Pagination -->
        <div class="swiper-pagination-trusted"></div>
      </div>
    </div>
  </div>
</section>