{{ define "main" }}
<section class="py-6 bg-white">
  <div class="max-w-[1237px] mx-auto px-5">
    <div class="mb-5 flex flex-col sm:flex-row sm:items-center sm:justify-between font-[Montserrat] gap-3">
      <div class="flex flex-wrap gap-2 items-center sm:gap-2">
        <a class="font-[Montserrat] text-[16px] lg:text-[20px] font-normal text-[#ba0108] hover:underline" href="/">
          Головна
        </a>
        <span class="text-[#ba0108] hidden sm:inline">&rarr;</span>
        <a class="font-[Montserrat] text-[16px] lg:text-[20px] font-normal text-[#ba0108] hover:underline" href="#">
          База знань
        </a>
        <span class="text-[#ba0108] hidden sm:inline">&rarr;</span>
        <a class="font-[Montserrat] text-[16px] lg:text-[20px] font-normal text-[#ba0108] hover:underline break-words hyphens-auto"
          href="#">
          Як правильно паяти політний стек. Інструкція
        </a>
      </div>

      <!-- Search for tablets -->
      <div class="flex relative max-w-[300px] justify-center items-center lg:hidden">
        <div class="flex flex-1 items-center">
          <div class="relative flex-1 rounded-[20px]">
            <input type="text" placeholder="Введіть текст"
              class="h-[47px] w-full !rounded-[20px] border border-black pl-4 pr-[120px] text-[16px] outline-none focus:border-[#ba0108] bg-white" />
            <button
              class="absolute z-10 right-0 top-1/2 -translate-y-1/2 w-[99px] h-[47px] rounded-[20px] bg-[#ba0108] flex items-center justify-center cursor-pointer hover:bg-[#a00007] transition-colors">
              <img src="/img/search-icon.svg" alt="search" width="30" height="30" class="filter brightness-0 invert" />
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-[1fr_220px] lg:grid-cols-[280px_1fr_220px] gap-6">
      <div class="bg-[#fafafa] max-w-[285px] h-full rounded-2xl border border-[#eee] hidden lg:block">
        <aside class="relative pt-0 pr-0 pl-0">
          <div class="p-0">
            <nav class="pt-[8px] fixed" style="width: 285px; max-height: calc(100vh - 200px); overflow-y: auto;">
              <details class="asideDetails">
                <summary class="flex justify-between items-center px-4 py-3">
                  <span class="font-[Montserrat] font-normal text-[20px]">
                    БПЛА
                  </span>
                  <img src="/img/arrow.svg" alt="" width="18" height="18" class="asideIcon" />
                </summary>
                <ul class="flex flex-col gap-[20px] b-l b-[#e0e0e0] ml-[36px] pr-[10px] max-w-[240px]"
                  style="border-left: 1px solid #e0e0e0; margin-left: 36px; padding-left: 16px;  padding-right: 10px; ">
                  <li>
                    <a href="#errors" class="block  text-[16px] font-normal font-[Montserrat]  ">
                      Як правильно паяти політний стек. Інструкція
                    </a>
                  </li>
                  <li>
                    <a href="#expert" class="block  text-[16px] font-normal font-[Montserrat]         ">
                      Рекомендації по збірці дрона
                    </a>
                  </li>
                  <li>
                    <a href="#howto" class="block  text-[16px] font-normal font-[Montserrat]   ">
                      Як правильно паяти політний стек. Інструкція
                    </a>
                  </li>
                  <li>
                    <a href="#recommend" class="block px-4 py-3 text-[16px] font-normal font-[Montserrat]   ">
                      Рекомендації по збірці дрона
                    </a>
                  </li>
                </ul>
              </details>

              <details class="asideDetails" open>
                <summary class="flex justify-between items-center px-4 py-3">
                  <span class="font-[Montserrat] font-normal text-[20px]">
                    Політні стеки
                  </span>
                  <img src="/img/arrow.svg" alt="" width="18" height="18" class="asideIcon" />
                </summary>
                <ul class="flex flex-col gap-[20px] b-l b-[#e0e0e0] ml-[36px] pr-[10px]"
                  style="border-left: 1px solid #e0e0e0; margin-left: 36px; padding-left: 16px;  padding-right: 10px; ">
                  <li>
                    <a href="#errors"
                      class="block text-[16px] font-normal font-[Montserrat] hover:text-[#ba0108] transition-colors">
                      Як правильно паяти політний стек. Інструкція
                    </a>
                  </li>
                  <li>
                    <a href="#expert"
                      class="block  text-[16px] font-normal font-[Montserrat] hover:text-[#ba0108] transition-colors">
                      Рекомендації по збірці дрона
                    </a>
                  </li>
                  <li>
                    <a href="#howto"
                      class="block text-[16px] font-normal font-[Montserrat] text-[#ba0108]  transition-colors">
                      Як правильно паяти політний стек. Інструкція
                    </a>
                  </li>
                  <li>
                    <a href="#recommend"
                      class="  text-[16px] font-normal font-[Montserrat] hover:text-[#ba0108] transition-colors">
                      Як правильно паяти політний стек. Інструкція
                    </a>
                  </li>
                  <li>
                    <a href="#markdown"
                      class="text-[16px] font-normal font-[Montserrat] hover:text-[#ba0108] transition-colors">
                      Рекомендації по збірці дрона
                    </a>
                  </li>
                </ul>
              </details>

              <details class="asideDetails">
                <summary class="flex justify-between items-center px-4 py-3 cursor-pointer select-none">
                  <span class="font-[Montserrat] font-normal text-[20px] text-[#333]">
                    Відеопередавачі
                  </span>
                  <img src="/img/arrow.svg" alt="" width="18" height="18" class="asideIcon" />
                </summary>
                <ul class="flex flex-col gap-[20px] b-l b-[#e0e0e0] ml-[36px] pl-4 pt-2 pr-10px"
                  style="border-left: 1px solid #e0e0e0; margin-left: 36px; padding-left: 16px;  padding-right: 10px; ">
                  <li>
                    <a href="#howto" class="block px-4 py-3 text-[16px] font-normal font-[Montserrat] hover:bg-black/5">
                      Налаштування VTX
                    </a>
                  </li>
                </ul>
              </details>

              <details class="asideDetails">
                <summary class="flex justify-between items-center px-4 py-3 cursor-pointer select-none">
                  <span class="font-[Montserrat] font-normal text-[20px] text-[#333]">
                    ESC
                  </span>
                  <img src="/img/arrow.svg" alt="" width="18" height="18" class="asideIcon" />
                </summary>
                <ul class="flex flex-col gap-[20px] b-l b-[#e0e0e0] ml-[36px] pr-[10px]"
                  style="border-left: 1px solid #e0e0e0; margin-left: 36px; padding-left: 16px; padding-right: 10px; ">
                  <li>
                    <a href="#recommend"
                      class="block px-4 py-3 text-[16px] font-normal font-[Montserrat] hover:bg-black/5">
                      Базові поради
                    </a>
                  </li>
                </ul>
              </details>
            </nav>
          </div>
        </aside>
      </div>

      <div class="max-w-[693px] min-h-0 pr-2">
        <div class="hidden lg:flex relative max-w-[691px] justify-center items-center mb-5">
          <div class="flex flex-1 items-center">
            <div class="relative flex-1 rounded-[20px]">
              <input type="text" placeholder="Введіть текст"
                class="h-[47px] w-full !rounded-[20px] border border-black pl-4 pr-[120px] text-[20px] outline-none focus:border-[#ba0108] bg-white" />
              <button
                class="absolute z-10 right-0 top-1/2 -translate-y-1/2 w-[99px] h-[47px] rounded-[20px] bg-[#ba0108] flex items-center justify-center cursor-pointer hover:bg-[#a00007] transition-colors">
                <img src="/img/search-icon.svg" alt="search" width="30" height="30"
                  class="filter brightness-0 invert" />
              </button>
            </div>
          </div>
        </div>

        <div class="relative overflow-hidden rounded-xl border border-[#E5E5E5]">
          <img src="/img/drone-man.png" alt="Drone Man" class="w-full h-auto" width="900" height="400" />
          <div class="absolute -top-10 -right-10 opacity-20">
            <img src="/img/bg-el-6.png" alt="" width="320" height="320" />
          </div>
        </div>

        <h1 class="mt-4 font-[Montserrat] text-[24px] font-medium text-black">
          Як правильно паяти політний стек. Інструкція
        </h1>
        <p class="mt-2 font-[Montserrat] text-[16px] font-normal">
          Для успішного паяння політного стека, важливо знати правильну техніку,
          уникати поширених помилок та дотримуватися певних рекомендацій. Цей
          процес вимагає точності та терпіння, щоб не пошкодити чутливі
          компоненти.
        </p>

        <section id="errors" class="mt-8 scroll-mt-24">
          <h2 class="font-[Montserrat] text-[20px] border-b border-[#ba0108] pb-3 font-normal mb-3">
            Опис помилок
          </h2>
          <ol class="space-y-4">
            <li class="flex gap-3 items-start">
              <img width="35" height="35" class="cursor-pointer color-black" src="/img/list-guide-one.png" alt="" />
              <p class="text-[16px] font-normal font-[Montserrat]">
                Перегрівання компонентів. Занадто висока температура паяльника
                або тривалий контакт може пошкодити мікросхеми та контакти на
                платі. Це найчастіша помилка.
              </p>
            </li>

            <li class="flex gap-3 items-start">
              <img width="35" height="35" class="cursor-pointer color-black" src="/img/list-guide-two.png" alt="" />
              <p class="text-[16px] font-normal font-[Montserrat]">
                Перегрівання компонентів. Занадто
                <span class="text-[#ba0108] underline">
                  висока температура
                </span>
                паяльника або тривалий контакт може пошкодити мікросхеми та
                контакти на платі. Це найчастіша помилка.
              </p>
            </li>

            <li class="flex gap-3 items-start">
              <img width="35" height="35" class="cursor-pointer color-black" src="/img/list-guide-three.png" alt="" />
              <p class="text-[16px] font-normal font-[Montserrat]">
                Перегрівання компонентів. Занадто висока температура паяльника
                або тривалий контакт може пошкодити мікросхеми та контакти на
                платі. Це найчастіша помилка.
              </p>
            </li>
            <li class="flex gap-3 items-start">
              <img width="35" height="35" class="color-black" src="/img/list-guide-four.png" alt="" />
              <p class="text-[16px] font-normal font-[Montserrat]">
                Перегрівання компонентів. Занадто висока температура паяльника
                або тривалий контакт може пошкодити мікросхеми та контакти на
                платі. Це найчастіша помилка.
              </p>
            </li>
          </ol>
        </section>

        <section id="expert" class="mt-10 scroll-mt-24">
          <h2 class="font-[Montserrat] text-[20px] border-b border-[#ba0108] pb-3 font-normal mb-3">
            Поради експерта
          </h2>
          <div class="space-y-2 text-[#333]">
            <p class="text-[16px] font-normal font-[Montserrat]">
              Використовуйте якісне обладнання. Інвестуйте в хороший паяльник із
              регулятором температури та тонким жалом. Це значно полегшить
              процес.
              <br />
              <br />
              Правильний припій. Віддавайте перевагу тонкому припою з каніфоллю
              всередині. Це спростить процес, адже не потрібно буде додатково
              наносити флюс на паяльник.
              <br />
              <br />
              Терпіння — ключ до успіху. Не поспішайте. Краще витратити на
              кілька секунд більше на кожен контакт, щоб уникнути помилок, ніж
              потім виправляти їх.
              <br />
              <br />
              Завжди використовуйте флюс. Навіть якщо ваш припій містить
              каніфоль, додатковий флюс може значно покращити якість пайки,
              особливо при роботі зі складними платами.
              <br />
              <br />
              Охолодження. Після пайки дайте компонентам охолонути природним
              шляхом. Не видувайте повітря на місце пайки, бо це може призвести
              до утворення "холодної пайки".
            </p>
          </div>
        </section>

        <section id="howto" class="scroll-mt-24 mt-10 bg-[#f5f5f5] px-[29px] py-[27px]">
          <h2 class="font-[Montserrat] text-[20px] border-b border-[#ba0108] pb-3 font-normal mb-3">
            Інструкція
          </h2>
          <ul class="list-disc pl-5 space-y-2 text-[#333]">
            <li class="flex gap-3 items-start">
              <img width="35" height="35" class="color-black" src="/img/list-guide-one.png" alt="" />
              <p class="text-[16px] font-normal font-[Montserrat]">
                Встановіть температуру паяльника відповідно до типу припою. Для
                свинцевого припою зазвичай вистачає 300-350°C, для безсвинцевого
                – 350-400°C.
              </p>
            </li>

            <li class="flex gap-3 items-start">
              <img width="35" height="35" class="color-black" src="/img/list-guide-two.png" alt="" />
              <p class="text-[16px] font-normal font-[Montserrat]">
                Встановіть температуру паяльника відповідно до типу припою. Для
                свинцевого припою зазвичай вистачає 300-350°C, для безсвинцевого
                – 350-400°C.
              </p>
            </li>

            <li class="flex gap-3 items-start">
              <img width="35" height="35" class="color-black" src="/img/list-guide-three.png" alt="" />
              <p class="text-[16px] font-normal font-[Montserrat]">
                Встановіть температуру паяльника відповідно до типу припою. Для
                свинцевого припою зазвичай вистачає 300-350°C, для безсвинцевого
                – 350-400°C.
              </p>
            </li>

            <li class="flex gap-3 items-start">
              <img width="35" height="35" class="color-black" src="/img/list-guide-four.png" alt="" />
              <p class="text-[16px] font-normal font-[Montserrat]">
                Встановіть температуру паяльника відповідно до типу припою. Для
                свинцевого припою зазвичай вистачає 300-350°C, для безсвинцевого
                – 350-400°C.
              </p>
            </li>
          </ul>
        </section>

        <section id="recommend" class="mt-10 scroll-mt-24">
          <h2 class="font-[Montserrat] text-[20px] border-b border-[#ba0108] pb-3 font-normal mb-3">
            Рекомендації
          </h2>
          <p class="text-[16px] font-normal font-[Montserrat]">
            Почніть з паяння простих компонентів, таких як дрібні резистори чи
            конденсатори, на старій або тестовій платі. Це допоможе вам відчути
            температуру і кількість припою.
            <br />
            <br />
            Почніть з паяння простих компонентів, таких як дрібні резистори чи
            конденсатори, на старій або тестовій платі. Це допоможе вам відчути
            температуру і кількість припою.
            <br />
            <br />
            Почніть з паяння простих компонентів, таких як дрібні резистори чи
            конденсатори, на старій або тестовій платі. Це допоможе вам відчути
            температуру і кількість припою.
            <br />
            <br />
            Почніть з паяння простих компонентів, таких як дрібні резистори чи
            конденсатори, на старій або тестовій платі. Це допоможе вам відчути
            температуру і кількість припою.
          </p>
        </section>

        <section id="markdown"
          class="scroll-mt-24 max-w-[694px] h-[259px] px-[25px] py-[22px] mt-10 mb-16 rounded-[10px] shadow-[0_4px_16px_0_rgba(0,0,0,0.1)]">
          <h2 class="font-[Montserrat] text-[20px] border-b border-[#ba0108] pb-3 font-semibold mb-3">
            Markdown
          </h2>
          <img src="/img/markdown.png" alt="Markdown" class="w-full h-auto" width="644" height="195" />
        </section>
      </div>

      <aside class="hidden relative md:block">
        <nav>
          <div class="pt-0 h-full">
            <nav class="fixed pt-[8px] " style="width: 235px; max-height: calc(100vh - 200px); overflow-y: auto;">
              <h4 class="mb-3 font-[Montserrat] text-[16px] font-medium text-[#ba0108]">
                На цій сторінці
              </h4>
              <ul class="space-y-2 text-[16px] font-normal font-[Montserrat]">
                <li>
                  <a href="#errors" class="block  py-2 hover:text-[#ba0108] transition-colors">
                    Опис помилок
                  </a>
                </li>
                <li>
                  <a href="#expert" class="block  py-2 hover:text-[#ba0108] transition-colors">
                    Поради експерта
                  </a>
                </li>
                <li>
                  <a href="#howto" class="block  py-2 hover:text-[#ba0108] transition-colors">
                    Інструкція
                  </a>
                </li>
                <li>
                  <a href="#recommend" class="block py-2 hover:text-[#ba0108] transition-colors">
                    Рекомендації
                  </a>
                </li>
                <li>
                  <a href="#markdown" class="block  py-2 hover:text-[#ba0108] transition-colors">
                    Markdown
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </nav>
      </aside>
    </div>
  </div>
</section>

<style>
  .asideDetails summary {
    list-style: none;
  }

  .asideDetails summary::-webkit-details-marker {
    display: none;
  }

  .asideIcon {
    transform: rotate(-90deg);
    transition: transform 200ms ease;
    cursor: pointer;
  }

  .asideDetails[open] .asideIcon {
    transform: rotate(0deg);
  }

  .asideDetails[open] .asideIcon {
    filter: brightness(0) saturate(100%) invert(8%) sepia(100%) saturate(7482%) hue-rotate(357deg) brightness(95%) contrast(118%);
  }

  .asideDetails[open] summary span {
    color: #ba0108 !important;
  }



  .chevronRight {
    transform: rotate(-90deg);
    opacity: 0.8;
  }



  .contentScrollable {
    overflow-y: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .contentScrollable::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .bg-\[\#fafafa\] {
    overflow: hidden;
  }

  nav.fixed::-webkit-scrollbar {
    width: 4px;
  }

  nav.fixed::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 2px;
  }

  nav.fixed::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 2px;
  }

  nav.fixed::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
  }

  /* Адаптивні стилі для планшетів */
  @media (max-width: 768px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const anchorLinks = document.querySelectorAll('a[href^="#"]');

    anchorLinks.forEach((link) => {
      link.addEventListener('click', function (e) {
        e.preventDefault();
        const targetId = this.getAttribute('href').substring(1);
        const targetElement = document.getElementById(targetId);

        if (targetElement) {
          targetElement.scrollIntoView({
            behavior: 'smooth',
            block: 'start',
          });
        }
      });
    });

    const sections = document.querySelectorAll('section[id]');
    const navLinks = document.querySelectorAll('ul[style*="border-left"] a[href^="#"]');

    function highlightActiveSection() {
      let current = '';
      sections.forEach((section) => {
        const sectionTop = section.offsetTop;
        const sectionHeight = section.clientHeight;
        if (window.pageYOffset >= sectionTop - 200) {
          current = section.getAttribute('id');
        }
      });

      navLinks.forEach((link) => {
        link.style.color = '';
        if (link.getAttribute('href') === '#' + current) {
          link.style.color = '#ba0108';
        }
      });
    }

    window.addEventListener('scroll', highlightActiveSection);
    highlightActiveSection();
  });
</script>
{{ end }}