@import "tailwindcss/preflight";
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-VariableFont_opsz,wght.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Unbounded';
    src: url('../fonts/Unbounded-VariableFont_wght.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  /* Set default fonts */
  html, body {
    font-family: 'Montserrat', ui-sans-serif, system-ui, sans-serif;
  }
}

/* Code block styles */
code {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  position: relative;
  padding-right: 24px;

  &::after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url('../img/copy.svg') no-repeat center center;
    background-size: contain;
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.2s ease;
    cursor: pointer;
  }

  &:hover::after {
    opacity: 1;
    height: 16px;
    margin-left: 8px;
    cursor: pointer;
  }
}
/* Code block styles */