{{ define "main" }}


{{ partial "contact-form-section" (dict "hideBgImage" true) }}

{{ $contactsQuestions := slice
(dict "question" "Для яких типів дронів найкраще підходить польотний стек KARMA F405 V1?" "answer" "Ідеально підходить для мікро- та невеликих FPV-дронів, а також для легких 3-дюймових або деяких 4-дюймових квадрокоптерів.")
(dict "question" "Для яких типів дронів найкраще підходить польотний стек KARMA F405 V1?" "answer" "Ідеально підходить для мікро- та невеликих FPV-дронів, а також для легких 3-дюймових або деяких 4-дюймових квадрокоптерів.")
(dict "question" "Для яких типів дронів найкраще підходить польотний стек KARMA F405 V1?" "answer" "Ідеально підходить для мікро- та невеликих FPV-дронів, а також для легких 3-дюймових або деяких 4-дюймових квадрокоптерів.")
(dict "question" "Для яких типів дронів найкраще підходить польотний стек KARMA F405 V1?" "answer" "Ідеально підходить для мікро- та невеликих FPV-дронів, а також для легких 3-дюймових або деяких 4-дюймових квадрокоптерів.")
}}

{{ partial "accordion" (dict
"title" "Поширенні питання"
"items" $contactsQuestions
"className" "mt-[112px] mb-[80px]"
"titleClassName" "!text-left"
) }}
{{ end }}