/*! TACHYONS v4.5.5 | http://tachyons.io */

/* Global reset */

/*
 *
 *      ________            ______
 *      ___  __/_____ _________  /______  ______________________
 *      __  /  _  __ `/  ___/_  __ \_  / / /  __ \_  __ \_  ___/
 *      _  /   / /_/ // /__ _  / / /  /_/ // /_/ /  / / /(__  )
 *      /_/    \__,_/ \___/ /_/ /_/_\__, / \____//_/ /_//____/
 *                                 /____/
 *
 *    TABLE OF CONTENTS
 *
 *    1. External Library Includes
 *       - Reset.css | http://meyerweb.com/eric/tools/css/reset/
 *    2. Tachyons Modules
 *    3. Variables
 *       - Media Queries
 *       - Colors
 *    4. Debugging
 *       - Debug all
 *       - Debug children
 *
 */


/* External Library Includes */
@use './imports/_reset';
/* Tailwind CSS */
@use "tailwindcss";



/* Importing here will allow you to override any variables in the modules */
@use './imports/_colors';
@use './imports/_media-queries';
@use './imports/_variables';

/* Debugging */
@use './imports/_debug-children';
@use './imports/_debug-grid';

/* Modal Styles */
@use './imports/_modal';

/* Code styles */
@use './imports/_code';

/* Uncomment out the line below to help debug layout issues */
/*@use './imports/_debug';*/

@layer base {
  /* Set default fonts */
  html, body {
    font-family: 'Montserrat', ui-sans-serif, system-ui, sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
  }
}

/* Custom Slider Styles */
.swiper-container-trusted,
.swiper-container-products {
  overflow: hidden;
  position: relative;
  height: auto;
}

.swiper-wrapper {
  display: flex;
  align-items: stretch;
  height: auto;
  transition: none;
  flex-wrap: nowrap; 
}

.swiper-slide {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  width: fit-content;
  justify-content: center;
}

.swiper-container-trusted-desktop .swiper-slide {
  min-height: 200px;
  width: 25% !important;
  flex-shrink: 0;
  padding: 0 20px;
  max-width: 25% !important;
  min-width: 25% !important;
}

.swiper-container-trusted-mobile .swiper-slide {
  min-height: auto;
  width: 100% !important;
  flex-shrink: 0;
  padding: 0;
  max-width: 100% !important;
  min-width: 100% !important;
}
.swiper-pagination-trusted{
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 15px;
}
/* pagination bullets size for trusted slider */
.swiper-pagination-trusted .swiper-pagination-bullet-custom {
  width: 14px;
  height: 14px;
}

.swiper-container-products .swiper-slide {
  width: auto !important; 
  min-height: 400px;
}

.swiper-pagination-bullet-custom {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: rgba(64, 64, 64, 1);
  border-radius: 50%;
  margin: 0 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active-custom {
  background: #ba0108;
}

.swiper-pagination-trusted {
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 450px) {
    .swiper-pagination-trusted {
      margin-top: 13px;
    }
}

.swiper-button-prev-custom,
.swiper-button-next-custom {
  cursor: pointer;
  transition: all 0.3s ease;
}

.swiper-container-trusted {
  @media (min-width: 799px) {
    .swiper-button-prev-custom {
      position: absolute !important;
      left: 100px !important;
      top: 50% !important;
      transform: translateY(-50%) !important;
    }
    
    .swiper-button-next-custom {
      position: absolute !important;
      right: 100px !important;
      top: 50% !important;
      transform: translateY(-50%) !important;
    }
  }

  @media (max-width: 798px) {
    .swiper-button-prev-custom {
      position: relative !important;
      left: -3px !important;
    }
    
    .swiper-button-next-custom {
      position: relative !important;
      right: -3px !important;
    }
  }
}
.products-slider {
  .swiper-container-products {
    width: 100% !important;
    max-width: 100% !important;
    margin-inline: auto !important;
    overflow: hidden !important; 
  }
  
  @media (min-width: 768px) {
    .swiper-container-products {
      width: 88% !important;
      max-width: 1000px !important;
    }
  }
  
  @media (min-width: 982px) {
    .swiper-container-products {
      width: 82% !important;
      max-width: 900px !important;
    }
  }
  
  @media (min-width: 1024px) {
    .swiper-container-products {
      width: 81% !important;
      max-width: 1200px !important;
    }
  }
  
  @media (min-width: 1100px) {
    .swiper-container-products {
      width: 70% !important;
      max-width: 1200x !important;
    }
  }
  
  @media (min-width: 1200px) {
    .swiper-container-products {
      width: 70% !important;
      max-width: 1000px !important;
    }
  }

  .swiper-container-products .swiper-wrapper {
    width: auto !important;
  }

  .swiper-container-products .swiper-slide > div {
    margin: 0 !important;
  }

  .swiper-button-prev-custom {
    left: 0 !important;
  }

  .swiper-button-next-custom {
    right: 0 !important;
  }

  @media (max-width: 1024px) {
    .swiper-button-prev-custom {
      left: 0 !important;
    }
    .swiper-button-next-custom {
      right: 0 !important;
    }
  }
}

.swiper-container-trusted-desktop .swiper-wrapper {
  display: flex;
  align-items: stretch;
  height: auto;
  transition: none;
  flex-wrap: nowrap;
  width: 100% !important;
  justify-content: space-between;
}

.swiper-container-trusted-mobile .swiper-wrapper {
  display: flex;
  align-items: stretch;
  height: auto;
  transition: none;
  flex-wrap: nowrap;
  width: 100% !important;
}